<h1>id: <%= @task.id %> のメッセージ詳細ページ</h1>

<table class="table table-bordered">
    <tr>
    <th>id</th><th>タスク名</th><th>ステータス</th>
    </tr>
    <td><%= @task.id %></td>
    <td><%= @task.content %></td>
    <td><%= @task.status %></td>
    </tr>
    </table>
<%= link_to 'このメッセージを編集する', edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to 'このメッセージを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } ,class: 'btn btn-danger'%>
